<header xmlns:th="http://www.thymeleaf.org" th:fragment="header">
	<a th:href="@{/index/}" class="btn btn-warning">PSI 資料表關聯圖</a>
	<a href="#" class="btn btn-info">部門資料</a>
	<a href="#" class="btn btn-info">員工資料</a>
	<a href="#" class="btn btn-info">客戶資料</a>
	<a href="#" class="btn btn-info">訂單資料</a>
	<a href="#" class="btn btn-info">商品資料</a>
	<a href="#" class="btn btn-info">供應商資料</a>
	<a href="#" class="btn btn-info">採購單資料</a>
	<a href="#" class="btn btn-info">即時庫存資料</a>
	<a href="#" class="btn btn-info">統計圖表</a>
	<a href="#" class="btn btn-info">聊天室</a>
</header>